# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Visual Studio Code
.vscode
snippets

# Installer logs
.txt
.log

# Environments
.env
.Environments

# Ignore maxmind and dbip databases
/data/downloads/*

# Ignore test code
/tests/